sessions/
venv/
.venv/
.env
proxies.txt
__pycache__/
.DS_Store
first_run.txt
lock_files/
accounts_config.json
vouchers.json
accounts.json
bot.zip
test.py

scripts/
hash_check_results.html
hash_check_results.json
page.js
